.weather {
    padding: 50px;
    place-self: center;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2d388a,#00aeef);
    display: flex;
    align-items: center;
}
.search-bar {
    border-radius: 30px;
    display: flex;
    align-items: center;
}
input {
    border-radius: 40px;
    padding-left: 25px;
    border: none;
    height: 50px;
    outline: none;
    cursor: pointer;
}